<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/styles.css" />
</head>

<body>
    <div class="container">
        <h2 style="margin-bottom: 5px;">Song Scaffolder.</h2>
    </div>
    <div class="container flex">
        <div style="flex: 0 0 40%;">
            <h3>
                Device: {{#if currentState.deviceActive}}
                <span class="connected">Connected</span>
                {{else}}
                <span class="disconnected">Disconnected</span>
                {{/if}}
            </h3>
            <div>
                <h3>
                    <form action="/change-tempo" method="POST">
                        Tempo:
                        <input type="text" name="tempo" value="{{currentState.tempo}}" size="3" />
                        <button type="submit">Change Tempo</button>
                    </form>
                </h3>
            </div>
        </div>
        <div class="flex align-center" style="flex: 1 0 auto">
            <form action="/add-chords" method="POST">
                <button class="link-button">Add Chords</button>
            </form>
            <form action="/add-melody" method="POST">
                <button class="link-button">Add Melody</button>
            </form>
            <form action="/add-bass" method="POST">
                <button class="link-button">Add Bass</button>
            </form>
            <form action="/add-drums" method="POST">
                <button class="link-button">Add Drums</button>
            </form>
        </div>
    </div>
    <div class="container flex-column eric">
        {{#each currentState.chordTracks}}
        <div class="track chord">
            <h3 style="margin-top: 0">Chords</h3>
            <form action="/generate-chords" method="POST">
                <input type="hidden" name="id" value="{{this.id}}" />
                <div class="flex-column">
                    <div class="flex">
                        <div class="track-parameter flex align-center">
                            <label>Track Name:</label> 
                            <input type="text" name="name" value="{{this.name}}" />
                        </div>
                        <div class="track-parameter flex align-center">
                            <label><input type="checkbox" name="includeBasicChords" value="true" {{#if includeBasicChords}}checked{{/if}}>Basic Chords</label>&nbsp;&nbsp;&nbsp;
                            <label><input type="checkbox" name="includeBassNote" value="true" {{#if includeBassNote}}checked{{/if}}>Bass Note</label>   
                            <label><input type="checkbox" name="includeTwoOctaveBassNote" value="true" {{#if includeTwoOctaveBassNote}}checked{{/if}}>-2 Octaves</label>   
                            <label><input type="checkbox" name="clearClips" value="true" {{#if clearClips}}checked{{/if}} />Clear Clips</label>   
                        </div>
                    </div>
                    <div class="flex">
                        <div class="track-parameter flex align-center">
                            <label>Start Octave:</label>
                            <input type="text" name="startOctave" value="{{this.startOctave}}" />
                        </div>
                        <div class="track-parameter flex align-center">
                            <label><input type="radio" name="voicing" value="normal" {{#ifCond voicing "normal"}}checked{{/ifCond}} />Normal Voicing</label>   
                            <label><input type="radio" name="voicing" value="open" {{#ifCond voicing "open"}}checked{{/ifCond}} />Open Voicing</label>   
                            <label><input type="radio" name="voicing" value="firstInversion" {{#ifCond voicing "firstInversion"}}checked{{/ifCond}} />1st Inversion</label>   
                            <label><input type="radio" name="voicing" value="secondInversion" {{#ifCond voicing "secondInversion"}}checked{{/ifCond}} />2nd Inversion</label>   
                        </div>
                    </div>
                    <div class="flex random-duration">
                        <div class="track-parameter flex align-center">
                            <label style="flex: 0 0 225px;"><input type="checkbox" name="randomizeChordDuration" value="true" {{#if randomizeChordDuration}}checked{{/if}}>Randomize Duration</label>
                        </div>  
                        <div class="track-parameter flex align-center">
                            <label>Clip Length:</label>
                            <input type="text" name="clipLengthInBars" placeholder="Bars" value="{{this.clipLengthInBars}}" />
                        </div>
                    </div>
                    <div class="flex random-duration">
                        <div class="track-parameter flex align-center">
                            <input size="2" type="text" name="quarterNoteChance" value="{{this.quarterNoteChance}}" />&nbsp;&nbsp;&nbsp;
                            <label>1/4 Note</label>
                            
                            <input size="2" type="text" name="halfNoteChance"  value="{{this.halfNoteChance}}" />&nbsp;&nbsp;&nbsp;
                            <label>1/2 Note</label>

                            <input size="2" type="text" name="wholeNoteChance" value="{{this.wholeNoteChance}}" />&nbsp;&nbsp;&nbsp;
                            <label>1 Bar</label>

                            <input size="2" type="text" name="twoWholeNoteChance" value="{{this.twoWholeNoteChance}}" />&nbsp;&nbsp;&nbsp;
                            <label>2 Bars</label>

                            <input size="2" type="text" name="percentRepeatChance" value="{{this.percentRepeatChance}}" />&nbsp;&nbsp;&nbsp;
                            <label>% repeat</label>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="track-parameter flex align-center">
                            <label style="flex: 0 0 225px;"><input type="checkbox" name="includeRandomChords" value="true" {{#if includeRandomChords}}checked{{/if}}>Random Chords</label>
                        </div>  
                        <div class="track-parameter flex align-center">
                            <label># of Clips</label>
                            <input type="text" name="numClips" placeholder="# of Clips" value="{{this.numClips}}" />
                        </div>
                    </div>
                        
                    <button>Generate</button>
                </div>
            </form>
        </div>
        {{/each}}
        {{#each currentState.kickTracks}}
            <div class="track kick">
                <h3 style="margin-top: 0">Kick</h3>
                <form action="/generate-kick" method="POST">
                    <input type="hidden" name="id" value="{{this.id}}" />
                    <div class="flex-column">
                        <div class="flex">
                            <div class="track-parameter flex align-center">
                                <label>Track Name:</label> 
                                <input type="text" name="name" value="{{this.name}}" />
                            </div>
                            <div class="track-parameter flex align-center">
                                <label style="flex: 0 0 120px;"><input type="checkbox" name="includeBasicKicks" value="true" {{#if includeBasicKicks}}checked{{/if}}>Basic Kicks</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="checkbox" name="includeRandomKicks" value="true" {{#if includeRandomKicks}}checked{{/if}}>Random Kicks</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="checkbox" name="includeIntervalKicks" value="true" {{#if includeIntervalKicks}}checked{{/if}}>Interval Kicks</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="checkbox" name="clearClips" value="true" {{#if clearClips}}checked{{/if}} />Clear Clips</label>   
                            </div>
                        </div>
                        <button>Generate</button>
                    </div>
                </form>
            </div>
        {{/each}}
    </div>
</body>

</html>