<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/styles.css" />
</head>

<body>
    <div class="container">
        <h2 style="margin-bottom: 5px;">Song Scaffolder.</h2>
    </div>
    <div class="container flex">
        <div style="flex: 0 0 40%;">
            <h3>
                Device: {{#if currentState.deviceActive}}
                <span class="connected">Connected</span>
                {{else}}
                <span class="disconnected">Disconnected</span>
                {{/if}}
            </h3>
            <div>
                <h3>
                    <form action="/change-tempo" method="POST">
                        Tempo:
                        <input type="text" name="tempo" value="{{currentState.tempo}}" size="3" />
                        <button type="submit">Change Tempo</button>
                    </form>
                </h3>
            </div>
        </div>
        <div class="flex align-center" style="flex: 1 0 auto">
            <form action="/add-chords" method="POST">
                <button class="link-button">Add Chords</button>
            </form>
            <form action="/add-melody" method="POST">
                <button class="link-button">Add Melody</button>
            </form>
            <form action="/add-bass" method="POST">
                <button class="link-button">Add Bass</button>
            </form>
            <form action="/add-kick" method="POST">
                <button class="link-button">Add Kick</button>
            </form>
            <form action="/add-snare" method="POST">
                <button class="link-button">Add Snare</button>
            </form>
            <form action="/add-hihat" method="POST">
                <button class="link-button">Add Hihat</button>
            </form>
        </div>
    </div>
    <div class="container flex-column eric">
        {{#each currentState.chordTracks}}
        <div class="track chord">
            <h3 style="margin-top: 0">Chords</h3>
            <form style="float:right;position: relative;top: -40px; cursor: pointer;" action="/delete-track" method="POST">
                <input type="hidden" name="track" value="{{this.name}}">
                <input type="hidden" name="kind" value="chord">
                <button>X</button>
            </form>
            <form action="/generate-chords" method="POST">
                <input type="hidden" name="id" value="{{this.id}}" />
                <div class="flex-column">
                    <div class="flex">
                        <div class="track-parameter flex align-center">
                            <label>Track Name:</label> 
                            <input type="text" name="name" value="{{this.name}}" />
                        </div>
                        <div class="track-parameter flex align-center">
                            <label><input type="checkbox" name="includeBasicChords" value="true" {{#if includeBasicChords}}checked{{/if}}>Basic Chords</label>
                            <label><input type="checkbox" name="includeRandomChords" value="true" {{#if includeRandomChords}}checked{{/if}}>Random Chords</label>
                            <label><input type="checkbox" name="clearClips" value="true" {{#if clearClips}}checked{{/if}} />Clear Clips</label>   
                        </div>
                    </div>
                    <div class="flex">
                        <div class="track-parameter flex align-center">
                            <label><input type="checkbox" name="includeBassNote" value="true" {{#if includeBassNote}}checked{{/if}}>Bass Note</label>   
                            <label><input type="checkbox" name="includeTwoOctaveBassNote" value="true" {{#if includeTwoOctaveBassNote}}checked{{/if}}>-2 Octaves</label>   
                        </div>
                        <div class="track-parameter flex align-center" style="justify-content: flex-end; margin-right: 20px;">
                            <label><input type="radio" name="voicing" value="normal" {{#ifCond voicing "normal"}}checked{{/ifCond}} />Normal Voicing</label>   
                            <label><input type="radio" name="voicing" value="open" {{#ifCond voicing "open"}}checked{{/ifCond}} />Open Voicing</label>   
                            <label><input type="radio" name="voicing" value="firstInversion" {{#ifCond voicing "firstInversion"}}checked{{/ifCond}} />1st Inversion</label>   
                            <label><input type="radio" name="voicing" value="secondInversion" {{#ifCond voicing "secondInversion"}}checked{{/ifCond}} />2nd Inversion</label>   
                        </div>
                    </div>
                    <div class="flex random-duration">
                        <div class="track-parameter flex align-center">
                                <label><input type="radio" name="rhythm" value="whole" {{#ifCond rhythm "whole"}}checked{{/ifCond}} />Whole Notes</label>   
                                <label><input type="radio" name="rhythm" value="common" {{#ifCond rhythm "common"}}checked{{/ifCond}} />Pattern Rhythms</label>   
                                <label><input type="radio" name="rhythm" value="random" {{#ifCond rhythm "random"}}checked{{/ifCond}} />Random Rhythms</label>
                        </div>  
                    </div>
                    <div class="flex random-duration">
                            <div class="track-parameter flex align-center">
                                    <label><input type="checkbox" name="isArpeggiated" value="true" {{#if isArpeggiated}}checked{{/if}}>Arpeggiator On</label>   
                                    <label><input type="radio" name="arpeggiatorLength" value="x" {{#ifCond arpeggiatorLength "x"}}checked{{/ifCond}} />1/16</label>   
                                    <label><input type="radio" name="arpeggiatorLength" value="e" {{#ifCond arpeggiatorLength "e"}}checked{{/ifCond}} />1/8</label>   
                                    <label><input type="radio" name="arpeggiatorLength" value="q" {{#ifCond arpeggiatorLength "q"}}checked{{/ifCond}} />1/4</label>
                            </div>  
                            <div class="track-parameter flex align-center">
                                <label>Arpeggiator Direction</label>
                                <label><input type="radio" name="arpeggiatorDirection" value="up" {{#ifCond arpeggiatorDirection "up"}}checked{{/ifCond}} />Up</label>   
                                <label><input type="radio" name="arpeggiatorDirection" value="down" {{#ifCond arpeggiatorDirection "down"}}checked{{/ifCond}} />Down</label>   
                                <label><input type="radio" name="arpeggiatorDirection" value="updown" {{#ifCond arpeggiatorDirection "updown"}}checked{{/ifCond}} />UpDown</label>
                            </div>
                        </div>
                    <button>Generate</button>
                </div>
            </form>
        </div>
        {{/each}}
        {{#each currentState.bassTracks}}
            {{#with . as |bassTrack|}}
            <div class="track bass">
                <h3 style="margin-top: 0">Bass</h3>
                <form action="/generate-bass" method="POST">
                    <input type="hidden" name="id" value="{{this.id}}" />
                    <div class="flex-column">
                        <div class="flex">
                            <div class="track-parameter flex align-center">
                                <label>Track Name:</label> 
                                <input type="text" name="name" value="{{this.name}}" />
                                <label><input type="checkbox" name="clearClips" value="true" {{#if clearClips}}checked{{/if}} />Clear Clips</label> 
                            </div>
                            <div class="track-parameter flex align-center">
                                <label style="flex: 0 0 120px;"><input type="checkbox" name="useSelectedClip" value="true" {{#if useSelectedClip}}checked{{/if}}>Use Selected Clip</label>&nbsp;&nbsp;&nbsp;
                                <select name="sourceTrack" style="margin-right: 20px; padding: 10px;">
                                    {{#each @root.currentState.existingTracks}}
                                        <option value="{{.}}" {{#ifCond bassTrack.sourceTrack .}}selected{{/ifCond}}>{{.}}</option>
                                    {{/each}}
                                </select>
                                <lable>Rhythm:&nbsp;&nbsp;&nbsp;</lable>
                                <select name="rhythmType" style="margin-right: 20px; padding: 10px;">
                                    <option value="pattern" {{#ifCond bassTrack.rhythmType "pattern"}}selected{{/ifCond}}>Pattern</option>
                                    <option value="random" {{#ifCond bassTrack.rhythmType "random"}}selected{{/ifCond}}>Random</option>
                                </select>
                            </div>
                        </div>
                        <button>Generate</button>
                    </div>
                </form>
            </div>
            {{/with}}
        {{/each}}
        {{#each currentState.melodyTracks}}
            {{#with . as |melodyTrack|}}
            <div class="track bass">
                <h3 style="margin-top: 0">Melody/Topline</h3>
                <form action="/generate-melody" method="POST">
                    <input type="hidden" name="id" value="{{this.id}}" />
                    <div class="flex-column">
                        <div class="flex">
                            <div class="track-parameter flex align-center">
                                <label>Track Name:</label> 
                                <input type="text" name="name" value="{{this.name}}" />
                                <label><input type="checkbox" name="clearClips" value="true" {{#if clearClips}}checked{{/if}} />Clear Clips</label> 
                            </div>
                            <div class="track-parameter flex align-center">
                                <label style="flex: 0 0 120px;"><input type="checkbox" name="useSelectedClip" value="true" {{#if useSelectedClip}}checked{{/if}}>Use Selected Clip</label>&nbsp;&nbsp;&nbsp;
                                <select name="sourceTrack" style="margin-right: 20px; padding: 10px;">
                                    {{#each @root.currentState.existingTracks}}
                                        <option value="{{.}}" {{#ifCond melodyTrack.sourceTrack .}}selected{{/ifCond}}>{{.}}</option>
                                    {{/each}}
                                </select>
                                <lable>Rhythm:&nbsp;&nbsp;&nbsp;</lable>
                                <select name="rhythmType" style="margin-right: 20px; padding: 10px;">
                                    <option value="pattern" {{#ifCond melodyTrack.rhythmType "pattern"}}selected{{/ifCond}}>Pattern</option>
                                    <option value="random" {{#ifCond melodyTrack.rhythmType "random"}}selected{{/ifCond}}>Random</option>
                                </select>
                            </div>
                        </div>
                        <button>Generate</button>
                    </div>
                </form>
            </div>
            {{/with}}
        {{/each}}
        {{#each currentState.kickTracks}}
            <div class="track kick">
                <h3 style="margin-top: 0">Kick</h3>
                <form action="/generate-kick" method="POST">
                    <input type="hidden" name="id" value="{{this.id}}" />
                    <div class="flex-column">
                        <div class="flex">
                            <div class="track-parameter flex align-center">
                                <label>Track Name:</label> 
                                <input type="text" name="name" value="{{this.name}}" />
                            </div>
                            <div class="track-parameter flex align-center">
                                <label style="flex: 0 0 120px;"><input type="checkbox" name="includeBasicKicks" value="true" {{#if includeBasicKicks}}checked{{/if}}>Basic Kicks</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="checkbox" name="includeRandomKicks" value="true" {{#if includeRandomKicks}}checked{{/if}}>Random Kicks</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="checkbox" name="includeIntervalKicks" value="true" {{#if includeIntervalKicks}}checked{{/if}}>Interval Kicks</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="checkbox" name="clearClips" value="true" {{#if clearClips}}checked{{/if}} />Clear Clips</label>   
                            </div>
                        </div>
                        <button>Generate</button>
                    </div>
                </form>
            </div>
        {{/each}}
        {{#each currentState.snareTracks}}
            <div class="track snare">
                <h3 style="margin-top: 0">Snare</h3>
                <form action="/generate-snare" method="POST">
                    <input type="hidden" name="id" value="{{this.id}}" />
                    <div class="flex-column">
                        <div class="flex">
                            <div class="track-parameter flex align-center">
                                <label>Track Name:</label> 
                                <input type="text" name="name" value="{{this.name}}" />
                            </div>
                            <div class="track-parameter flex align-center">
                                <label style="flex: 0 0 120px;"><input type="checkbox" name="includeBasicSnares" value="true" {{#if includeBasicSnares}}checked{{/if}}>Basic Snares</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="checkbox" name="includeRandomSnares" value="true" {{#if includeRandomSnares}}checked{{/if}}>Random Snares</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="checkbox" name="includeIntervalSnares" value="true" {{#if includeIntervalSnares}}checked{{/if}}>Interval Snares</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="checkbox" name="clearClips" value="true" {{#if clearClips}}checked{{/if}} />Clear Clips</label>   
                            </div>
                        </div>
                        <button>Generate</button>
                    </div>
                </form>
            </div>
        {{/each}}
        {{#each currentState.hihatTracks}}
            <div class="track hihat">
                <h3 style="margin-top: 0">Hihat</h3>
                <form action="/generate-hihat" method="POST">
                    <input type="hidden" name="id" value="{{this.id}}" />
                    <div class="flex-column">
                        <div class="flex">
                            <div class="track-parameter flex align-center">
                                <label>Track Name:</label> 
                                <input type="text" name="name" value="{{this.name}}" />
                            </div>
                            <div class="track-parameter flex align-center">
                                <label style="flex: 0 0 120px;"><input type="checkbox" name="includeBasicHats" value="true" {{#if includeBasicHats}}checked{{/if}}>Basic Hats</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="checkbox" name="includeRandomHats" value="true" {{#if includeRandomHats}}checked{{/if}}>Random Hats</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="checkbox" name="includeTrapHats" value="true" {{#if includeTrapHats}}checked{{/if}}>Trap Hats</label>&nbsp;&nbsp;&nbsp;
                                <label><input type="checkbox" name="clearClips" value="true" {{#if clearClips}}checked{{/if}} />Clear Clips</label>   
                            </div>
                        </div>
                        <button>Generate</button>
                    </div>
                </form>
            </div>
        {{/each}}
    </div>
</body>

</html>